*.log
screenshots
*.json
.env
*.code-workspace
buildnotes.md
*.pyc
hourly_usage.txt
config.yaml
docker-compose.debug.yml
*.egg-info
__pycache__peco_spark.egg-info/
*.pdf
*.ipynb
*.ipynb_checkpoints
*.png
*.har
