# User Variables

appName: peco-assistant
author: breadlysm

peco:
  user: user@email.com
  pass: dontuseeasypasswords

database:
  db_type: influxdb
  db_host:  192.168.1.1
  db_port:  8086
  db_user:  yourusername
  db_pass:  secondeasiestpassword
  db_name:  peco

settings:
  sleep_interval: 24
  log_level: debug